.advantages {
  margin-top: 100px;
}

.advantages h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}

.blocks .block {
  display: flex;
  align-items: center;
  gap: 15px;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 18px;
}

.block {
  padding: 15px;
  height: 104px;
  background: linear-gradient(
    76.36deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border: 1px solid #808080;
  box-shadow: inset 28.3333px -28.3333px 28.3333px rgba(186, 186, 186, 0.1),
    inset -28.3333px 28.3333px 28.3333px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(28.3333px);
  border-radius: 10px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.number {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  padding: 24px 10px;
  border: 1px solid #cbfa11;
  border-radius: 7px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #cbfa11;
  margin-bottom: 10px;
}

.text {
  max-width: 279px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #a8a8a8;
}

.bg1 {
  background: #cbfa11;
  filter: blur(25px);
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: -5px;
}

.bg2 {
  background: #cbfa11;
  filter: blur(25px);
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 0px;
}

.bg3 {
  background: #cbfa11;
  filter: blur(25px);
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: -10px;
  right: 50%;
  left: 50%;
}

.glow {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #cbfa11;
  filter: blur(100px);
  right: -100px;
  top: -150px;
}

@media (max-width: 1024px) {
  .blocks {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 764px) {
  .blocks {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .block_none {
    /* display: none; */
  }
}

@media (max-width: 464px) {
  .advantages h1 {
    font-size: 34px;
    line-height: 37px;
  }
}
