.messenger_block {
  display: flex;
  align-items: flex-end;
  gap: 87px;
  margin-top: 100px;
}

.question_blocks {
  position: relative;
}

.question_blocks img {
  position: absolute;
  top: -60px;
  right: -70px;
}

.question {
  max-width: 347px;
  min-height: 74px;
  background: #7140fd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}

.question:last-child {
  margin-bottom: 0;
}

.question p {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.content h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  max-width: 609px;
}

.contact {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  margin-top: 33px;
}

.contact button {
  background: #cbfa11;
  border-radius: 10px;
  padding: 27px 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #21212b;
  display: flex;
  align-items: center;
  gap: 15px;
}

.glow {
  position: absolute;
  width: 83px;
  height: 83px;
  background: #7140fd;
  filter: blur(100px);
}

@media (max-width: 1024px) {
  .emoji_img {
    display: none;
  }

  .content h1 {
    font-size: 34px;
    line-height: 37px;
  }
}

@media (max-width: 764px) {
  .messenger_block {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .question {
    max-width: 100%;
  }

  .question_blocks {
    min-width: 100%;
  }

  .contact button {
    padding: 20px;
    width: 171px;
    display: flex;
    justify-content: center;
  }

  .question_blocks img {
    transform: translateY(340px) translateX(-150px) rotate(-5.94deg);
    width: 110.7px;
    height: 112.39px;
  }
}
