.container {
  max-width: 1240px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Выравнивание контейнера по центру */
  width: 100%; /* Ширина контейнера по умолчанию */
  position: relative;
  margin-bottom: 100px;
}

.h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  margin-top: 100px;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 100px; /* Отступы для контейнера на экранах меньше 1440px */
    max-width: 1440px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 40px; /* Отступы для контейнера на экранах меньше 1440px */
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

.slider {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  height: 270px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  margin: 0 5px;
  position: relative;
  cursor: pointer;
}

.inactive {
  width: 20px;
  height: 196px;
  background: linear-gradient(
    76.36deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border: 1px solid #808080;
  backdrop-filter: blur(15px);
  border-radius: 7px;
}

.active {
  width: 300px;
  height: 196px;
  background: linear-gradient(
    76.36deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border: 1px solid #808080;
  backdrop-filter: blur(15px);
  border-radius: 10px;
}

.active img {
  width: 70%;
}

.active-center {
  width: 405px;
  height: 219px;
  background: linear-gradient(
    76.36deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border: 1px solid #808080;
  backdrop-filter: blur(15px);
  border-radius: 10px;
}

.item-number {
  position: absolute;
  bottom: -40px;
  left: -3px;
  font-size: 10px;
  line-height: 110%;
  text-align: center;
  color: #ffffff;
  padding: 6px;
  background: #7140fd;
  border-radius: 50%;
}

.item-number-active {
  bottom: 10px;
  left: 15px;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  padding: 10px 20px;
  background: #7140fd;
  border-radius: 12px;
}

.item-text {
  display: none;
  margin-top: 10px;
}

.item-number-active {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  padding: 10px 20px;
  background: #7140fd;
  border-radius: 12px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.item-text-side {
  display: flex;
  margin-top: 0;
  font-size: 13px;
  color: #ffffff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  position: absolute;
  bottom: -35px;
  left: 20px;
  animation: fadeIn 1s forwards;
  animation-delay: 0.1s; /* Adjust this value to control the delay */
  opacity: 0.8;
}

.item-text-center {
  display: flex;
  margin-top: 0; /* Change this from 20px to 0 */
  font-size: 24px;
  color: #ffffff;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: left;
  position: absolute; /* Add this line */
  bottom: -35px; /* Add this line */
  left: 0;
  opacity: 0.8;
}

.item-number-special {
  background: #cbfa11;
  color: #000;
}

.active-center:after {
  content: attr(data-text);
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  position: absolute;
  bottom: -40px;
  left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.stages_work {
  position: relative;
}

.glow {
  background: #7140fd;
  filter: blur(100px);
  width: 83px;
  height: 83px;
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: -1;
}

.glow2 {
  position: absolute;
  width: 95px;
  height: 95px;
  background: linear-gradient(105.09deg, #55a1ff -2.98%, #4087fd 92.91%);
  filter: blur(100px);
}

.glow3 {
  position: absolute;
  width: 95px;
  height: 95px;
  background: #cbfa11;
  filter: blur(100px);
  right: -100px;
  bottom: -200px;
}

.adaptive_slider {
  display: none;
}

@media (max-width: 1024px) {
  .slider {
    gap: 10px;
  }
}

@media (max-width: 900px) {
  .slider {
    display: none;
  }

  .adaptive_slider {
    display: initial;
    width: 100%;
  }

  .container {
    padding: 0;
    margin: 0;
  }
}

.zoom {
  margin-top: 120px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    76.36deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border: 1px solid #808080;
  box-shadow: inset 28.3333px -28.3333px 28.3333px rgba(186, 186, 186, 0.1),
    inset -28.3333px 28.3333px 28.3333px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(28.3333px);
  border-radius: 10px;
  max-height: 101px;
}

.zoom div {
  display: flex;
  align-items: center;
  gap: 30px;
}

.zoom p {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.zoom button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(105.09deg, #55a1ff -2.98%, #4087fd 92.91%);
  border-radius: 10px;
  padding: 20px 30px;
}

@media (max-width: 768px) {
  .zoom {
    display: none;
  }

  .h1 {
    font-size: 34px;
    line-height: 37px;
    text-align: center;
  }
}
