.container {
	max-width: 1240px; /* Максимальная ширина контейнера */
	margin: 0 auto; /* Выравнивание контейнера по центру */
	width: 100%; /* Ширина контейнера по умолчанию */
	position: relative;
}


@media (max-width: 1440px) {
	.container {
	  padding: 0 100px; /* Отступы для контейнера на экранах меньше 1440px */
	  max-width: 1440px;
	}
}

@media (max-width: 1024px) {
	.container {
		padding: 0 40px; /* Отступы для контейнера на экранах меньше 1440px */
		overflow: hidden;
	}
}

@media (max-width: 768px) {
	.container {
		padding: 0 0 0 15px;
        margin: 0;
	}
}

.team_section {
    position: relative;
    margin-top: 150px;
}

.h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.img1 {
    position: absolute;
    z-index: -1;
    left: 20%;
    top: 0;
}

.img2 {
    position: absolute;
    z-index: -1;
    right: 18%;
    top: 30px;
    transform: rotate(-50.82deg);
}

.header h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}

.header p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    max-width: 703px;
    background: linear-gradient(76.36deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    border: 1px solid #808080;
    box-shadow: inset 28.3333px -28.3333px 28.3333px rgba(186, 186, 186, 0.1), inset -28.3333px 28.3333px 28.3333px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(28.3333px);
    border-radius: 10px;
    padding: 15px;
}

.team_slider {
    display: flex;
    gap: 30px;
    width: 100%;
    overflow: scroll;
}

.download_block {
    margin-top: 60px;
    display: flex;
    align-items: start;
    gap: 30px;
    background: linear-gradient(76.36deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    border: 1px solid #808080;
    box-shadow: inset 28.3333px -28.3333px 28.3333px rgba(186, 186, 186, 0.1), inset -28.3333px 28.3333px 28.3333px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(28.3333px);
    border-radius: 10px;
    padding: 15px;
}

.download_block  .text {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    max-width: 364px;
}

.form {
    display: flex;
    gap: 15px;
    align-items: start;
}

.from_input {
    display: flex;
    gap: 15px;
}

.from_input input {
    background: linear-gradient(76.36deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    border: 1px solid #808080;
    box-shadow: inset 28.3333px -28.3333px 28.3333px rgba(186, 186, 186, 0.1), inset -28.3333px 28.3333px 28.3333px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(28.3333px);
    border-radius: 10px;
    padding: 21px;
    text-align: center;
    width: 261px;
}

.btn {
    padding: 23px;
    background: #CBFA11;
    border-radius: 10px;
    width: 261px;
    display: flex;
    justify-content: center;
    height: 60px;
}

.btn button {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;  
    text-align: center;
    color: #21212B;
}

.checkbox {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.checkbox p {
    font-size: 10px;
    line-height: 110%;
    color: #A8A8A8;
}

.checkbox span {
    color: #CBFA11;
}

.glow {
    position: absolute;
    width: 83px;
    height: 83px;
    background: #CBFA11;
    filter: blur(100px);
    right: 0;
}

.glow2 {
    position: absolute;
    width: 83px;
    height: 83px;
    background: #CBFA11;
    filter: blur(100px);
    right: -100px;
    top: 0;
}

@media (max-width: 1024px) {
    .download_block {
        flex-direction: column;
    }

    .team_slider {
        gap: 15px;
    }
}

@media (max-width: 764px) {
    .from_input input {
        width: 100%;
    }

    .img1 {
        left: -10px;
    }
    
    .img2 {
        right: 0;
        top: -5px;
    }
    
}

@media (max-width: 600px) {
    .form {
        flex-direction: column;
        min-width: 100%;
        align-items:inherit ;
        display: block;
    }

    .from_input {
        flex-direction: column;
        min-width: 100%;
        align-items: center;
    }

    .from_input input {
        min-width: 100%;
    }

    .btn {
       width: 100%;
       margin-top: 15px;
    }

}