.block_02 {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.block_02 p {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #21212B;
    background: #CBFA11;
    border-radius: 5px;
    padding: 10px 12px;
}

.block_02 h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF
}

.text_img {
    padding: 15px;
    background: linear-gradient(76.36deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    border: 1px solid #808080;
    box-shadow: inset 28.3333px -28.3333px 28.3333px rgba(186, 186, 186, 0.1), inset -28.3333px 28.3333px 28.3333px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(28.3333px);
    border-radius: 10px;
    position: relative;
    min-width: 609px;
}

.text_img p {
    max-width: 386px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.text_img img {
    position: absolute;
    right: 15px;
    top: -120px;
}

.text {
    display: flex;
    align-items: stretch;
    gap: 15px;
    margin-top: 70px;
}

.text_2 {
    padding: 15px;
    background: linear-gradient(76.36deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    border: 1px solid #808080;
    box-shadow: inset 28.3333px -28.3333px 28.3333px rgba(186, 186, 186, 0.1), inset -28.3333px 28.3333px 28.3333px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(28.3333px);
    border-radius: 10px;
    max-width: 599px;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.text_2 p {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.dashed_text {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    border: 1px dashed #CBFA11;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    max-width: 597px;
}

@media (max-width: 1024px) {
    .text {
        flex-direction: column;
        gap: 15px;
    }

    .text_2 {
        min-width: 100%;
    }
    .dashed_text {
        min-width: 100%;
    }
}

@media (max-width: 650px) {
    .text p {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        min-width: 100%;
    }

    .text_img p{
        margin-top: 150px;
    }

    .text_img {
        min-width: 100%;
    }

    .text_img img{
        left: 50%;
        transform: translateX(-50%);
        top: -180px;
    }

    .text {
        margin-top: 170px;
    }
}