.block_05 {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.block_05 p {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #21212b;
  background: #cbfa11;
  border-radius: 5px;
  padding: 10px 12px;
}

.block_05 h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.promo {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  margin-top: 30px;
}

.promo h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #cbfa11;
}

.promo p {
  background: #7140fd;
  border-radius: 7px;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.promo_block {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.promo_block div {
  background: linear-gradient(
    76.36deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border: 1px solid #808080;
  box-shadow: inset 28.3333px -28.3333px 28.3333px rgba(186, 186, 186, 0.1),
    inset -28.3333px 28.3333px 28.3333px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(28.3333px);
  border-radius: 10px;
  padding: 15px;
}

.promo_video p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  max-width: 237px;
}

.promo_video {
  display: flex;
  gap: 30px;
}

.promo_video span {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #cbfa11;
  padding-top: 8px;
}

.download h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #cbfa11;
}

.download p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.8;
  margin-top: 10px;
}

.download {
  max-width: 528px;
}

.download img {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.download a {
  display: inline-block;
  background: #cbfa11;
  border-radius: 10px;
  width: 201px;
  padding: 20px;
  margin-top: 63px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #21212b;
  text-decoration: none;
}

.download a:hover {
  background-color: #a7ce0c;
}

.download a:active {
  background-color: #7140fd;
}

.download a:focus {
  background-color: #7140fd;
}

@media (max-width: 1024px) {
  .promo_block {
    flex-direction: column;
  }

  .promo_video {
    justify-content: space-between;
  }

  .download {
    min-width: 100%;
  }
}

@media (max-width: 768px) {
  .promo_video {
    flex-direction: column;
  }

  .promo_video p {
    min-width: 100%;
  }

  .download h3 {
    font-size: 16px;
    line-height: 19px;
  }

  .download p {
    font-size: 14px;
    line-height: 17px;
  }

  .download img {
    bottom: 0px;
  }

  .promo h3 {
    font-size: 16px;
    line-height: 19px;
  }

  .promo p {
    font-size: 14px;
    line-height: 17px;
  }
}
