.slider {
    display: flex;
    max-width: 700px;
    gap: 30px;
    overflow-x: scroll;
    position: relative;
}

.glow {
    position: absolute;
    width: 488px;
    height: 43px;
    background: #CBFA11;
    filter: blur(80px);
    top: 50%;
    transform: translateY(-50%);
}