.footer {
    background: #21212B;
    padding-bottom: 66px;
}

.footer_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email {
    font-size: 16px;
    line-height: 21px;
    color: #CBFA11;
}

.social {
    margin-top: 50px;
}

.social div {
    margin-bottom: 30px;
}

.social a{
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s;
}

.social a:hover {
    color: #CBFA11;
}

.footer_block img {
    transform: translateX(-40px) translateY(-8px);
}

@media (max-width: 500px) {
    .footer_block {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .footer_block img {
        transform: translateX(-10px);
    }

    .email {
        order: 1;
    }

    .social {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}