.cv_section {
  margin-top: 50px;
  margin-bottom: 135px;
  position: relative;
}

.person_header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 15px;
}

.page_nav {
  margin-top: 50px;
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.page_nav a {
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.5;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

.page_nav a:hover {
  color: #cbfa11;
  opacity: 0.9;
}

.page_nav a:last-child {
  opacity: 0.9;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header_logo h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.header_logo h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #cbfa11;
  margin-top: 15px;
}

.header_logo h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 15px;
  max-width: 450px;
}

.person_link {
  display: flex;
  align-items: center;
  gap: 30px;
}

.person_link div {
  background: linear-gradient(
    76.36deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border: 1px solid #808080;
  box-shadow: inset 28.3333px -28.3333px 28.3333px rgba(186, 186, 186, 0.1),
    inset -28.3333px 28.3333px 28.3333px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7.5px);
  border-radius: 10px;
  width: 190px;
  height: 87px;
  padding: 10px 15px;
}

.person_link div p {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.5;
}

.experience_block {
  margin-top: 30px;
  background: linear-gradient(
    76.36deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border: 1px solid #808080;
  box-shadow: inset 28.3333px -28.3333px 28.3333px rgba(186, 186, 186, 0.1),
    inset -28.3333px 28.3333px 28.3333px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(28.3333px);
  border-radius: 10px;
  padding: 30px;
}

.company {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #7140fd;
}

.etc {
  display: flex;
  justify-content: end;
  transform: translateY(-15px);
  color: #808080;
}

.exp_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.exp_header h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.exp_header h3 span {
  color: #cbfa11;
}

.exp_header p {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.experience {
  border-bottom: 1px solid #808080;
  margin-top: 30px;
}

.experience div {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.experience h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.experience h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #cbfa11;
}

.experience p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.5;
}

.about_block {
  background: linear-gradient(
    76.36deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border: 1px solid #808080;
  box-shadow: inset 28.3333px -28.3333px 28.3333px rgba(186, 186, 186, 0.1),
    inset -28.3333px 28.3333px 28.3333px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(28.3333px);
  border-radius: 10px;
  padding: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.about h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 15px;
}

.about_p {
  font-size: 16px;
  line-height: 21px;
  color: #a8a8a8;
  max-width: 584px;
}

.skills_block h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #a8a8a8;
  margin-top: 38px;
}

.skills_block h3 span:first-child {
  color: #cbfa11;
}

.skills_block h3 span:last-child {
  color: #7140fd;
}

.skills {
  display: inline-block;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  margin-top: 17px;
  max-width: 584px;
}

.hard {
  background: #cbfa11;
  color: #21212b;
}

.soft {
  background: #7140fd;
  color: #ffffff;
}

.skills p {
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  line-height: 21px;
  display: inline-grid;
  margin-right: 5px;
  margin-bottom: 5px;
}

.about_image {
  padding-left: 30px;
  border-left: 1px solid #808080;
}

.about_image img {
  width: 100%;
}

.more_info {
  display: flex;
  align-items: stretch;
  gap: 30px;
  margin-top: 30px;
}

.advanced {
  padding: 30px;
  background: linear-gradient(
    76.36deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border: 1px solid #808080;
  box-shadow: inset 28.3333px -28.3333px 28.3333px rgba(186, 186, 186, 0.1),
    inset -28.3333px 28.3333px 28.3333px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(28.3333px);
  border-radius: 10px;
  width: 100%;
}

.advanced h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #a8a8a8;
}

.advanced h2 span {
  color: #cbfa11;
}

.awards {
  padding: 30px;
  background: linear-gradient(
    76.36deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border: 1px solid #808080;
  box-shadow: inset 28.3333px -28.3333px 28.3333px rgba(186, 186, 186, 0.1),
    inset -28.3333px 28.3333px 28.3333px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(28.3333px);
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.awards h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.rewards_block img {
  min-width: 89px;
  min-height: 89px;
}

.awards_content h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 15px;
  margin-bottom: 10px;
}

.awards_content p {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding-bottom: 10px;
}

.awards_content h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #808080;
}

.awards_content h3:not(:first-of-type) {
  border-top: 2px solid #8e8e8e;
  padding-top: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.advanced_content p {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #808080;
}

.rewards_block .rew {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.rewards_block {
  padding-top: 15px;
  border-top: 1px solid #808080;
  overflow-x: scroll;
}

.rewards_block .willbe {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #a8a8a8;
  max-width: 160px;
}

.rewards {
  display: flex; /* Добавлено */
  flex-direction: column;
  align-items: center; /* Добавлено */
  justify-content: center; /* Добавлено */
  background: #282835;
  border: 1px solid #cbfa11;
  border-radius: 20.6105px;
  width: 89px;
  height: 89px;
  padding: 10px;
  text-align: center;
}

.rewards span {
  color: #cbfa11;
  font-weight: 500;
  font-size: 14.9895px;
  line-height: 19px;
}

.rewards p {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
}

.comming {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #808080;
  max-width: 322px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.adv_blocks h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 20px;
}

.languages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.languages p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 10px;
}

.languages span {
  color: #8e8e8e;
}

.languages {
  padding-bottom: 15px;
  border-bottom: 1px solid #808080;
}

.education {
  padding-bottom: 15px;
  border-bottom: 1px solid #808080;
}

.education p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 10px;
}

.education span {
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #8f8f94;
}

.rewards_block p {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #a8a8a8;
  margin-top: 15px;
}

@media (max-width: 1024px) {
  .header_logo {
    flex-direction: column;
    align-items: flex-start;
  }

  .person_header {
    align-items: flex-start;
    gap: 30px;
  }

  .person_link {
    position: absolute;
    right: 30px;
  }

  .person_link div {
    height: 155px;
  }

  .name_block {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .header_logo h2 {
    margin-top: 0;
  }

  .experience {
    flex-direction: column;
    align-items: flex-start;
  }

  .experience div {
    justify-content: space-between;
    width: 100%;
  }

  .about_block {
    flex-direction: column;
  }

  .about_image {
    padding-left: 0px;
    border-left: none;
    margin-top: 15px;
  }

  .more_info {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 764px) {
  .social {
    display: none;
  }

  .person_link {
    right: 15px;
  }

  .rewards_block p {
    font-size: 14px;
    line-height: 120%;
  }
}

@media (max-width: 600px) {
  .page_nav {
    margin-top: 135px;
  }

  .rewards_block {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  .adv_blocks h3 {
    font-size: 16px;
  }

  .awards h3 {
    font-size: 16px;
  }

  .adv_blocks p {
    font-size: 14px;
    line-height: 120%;
  }

  .awards p {
    font-size: 14px;
    line-height: 120%;
  }

  .rewards_block p {
    min-width: 100%;
  }

  .advanced {
    min-height: 100%;
  }

  .experience h4 {
    font-size: 16px;
    line-height: 19px;
  }

  .experience h5 {
    font-size: 14px;
    line-height: 120%;
  }

  .experience p {
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 10px;
  }

  .exp_header p {
    font-size: 14px;
    line-height: 120%;
  }

  .exp_header h3 {
    font-size: 16px;
    line-height: 19px;
  }

  .name_block h1 {
    font-size: 16px;
    line-height: 19px;
  }

  .header_logo h3 {
    font-size: 16px;
    line-height: 19px;
  }

  .skills_block h3 {
    font-size: 16px;
    line-height: 19px;
  }
  .skills p {
    font-size: 14px;
    line-height: 17px;
  }

  .about p {
    font-size: 14px;
    line-height: 17px;
  }

  .about_block {
    padding: 15px;
  }
  .experience_block {
    padding: 15px;
  }

  .advanced {
    padding: 15px;
  }

  .awards {
    padding: 15px;
  }

  .experience h4 {
    font-size: 14px;
    line-height: 120%;
  }
  .experience h5 {
    font-size: 14px;
    line-height: 120%;
  }
  .experience h6 {
    font-size: 14px;
    line-height: 120%;
  }
}
