.backgroundBlur {
  background: linear-gradient(
    76.36deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  backdrop-filter: blur(15.1899px);
  border: 1.01266px solid #808080;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
